.defaultButton{
    background-color: var(--rosa-color);
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 120px;
    color: white;
}

.transparent{
    background-color: transparent;
    padding: 16px;
    border-radius: 20px;
    border: 1px white solid;
    width: 130px;
    color: white;
    font-weight: 800;
}


.withBorder{
    background-color: var(--rosa-color);
    padding: 16px;
    border-radius: 20px;
    border: none;
    width: 130px;
    color: white;
    font-weight: 800;
}